*{
    padding: 0;
    margin: 10px;
    width: fit-content;
}
main{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
input{
    border: 2px solid rgb(67, 64, 64);
    padding: 5px;
}
button{
    padding: 2px;
    border: 2px solid;
    border-radius: 4px;
}
.navbar{
    background-color: rgb(72, 50, 50);
    color: white;
    padding: 0% 10vh 0%;
}