* {
    padding: 0;
    margin: 0;
    border: border-box;
}

main{
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    background-color: rgb(5, 24, 24);
    justify-content: center;
    flex-wrap: wrap;
    width: 40vh;
    height: 60vh;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10vh;
}

button{
    width: 25%;
    height: 20%;
    border-radius: 50px;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;

}
button:hover{
    background-color: orange;
}

#result{
    height: 14%;
    border-radius: 20px;
    background-color: blueviolet;
    min-width: 100%;
}